<!--
 * @Descripttion: 
 * @version: 1.0
 * @Author: LiYansheng
 * @Date: 2021-10-29 13:41:27
 * @LastEditors: CoderXZ
 * @LastEditTime: 2021-10-29 13:45:03
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--接收后端数据练习-->
    <h3 th:text="${name}"></h3>
    <input type="text" th:value="${name}">

    <h3 th:text="${names[0]}"></h3>
    <ul>
        <li th:each="n : ${names}">
            <p th:text="${n}"></p>
        </li>
    </ul>

</body>
</html>