<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div style="text-align: center">
    <h1 style="color: red;">
        <marquee behavior="200" direction="right" bgcolor="black">感谢您的光临！</marquee>
      </h1>
      <div >
          <h1>提交成功！！！</h1>
          <img th:src="@{/img/d2.png}" alt="这是图片" >
      </div>
      <footer style="margin-top: 250px;">
        <h3>@2021 create by 缘分得天空</h3>
      </footer>

      
  </div>
</body>
</html>